.container{
    margin-left: 50vw;
    transform: translateX(-25%);
}

.heading-1{
    font-size: 3rem;
}

.para{
    font-size: 2rem;
    display: flex;
    margin-left: 50%;
    transform: translateX(-75%);
}

.btn-container{
    font-size: 2rem;
    display: flex;
    margin-left: 50%;
    transform: translateX(-75%);
    gap: 1rem;
}